# Ignore node_modules directory
node_modules/

# Ignore log files
*.log

# Ignore environment variable files
.venv
venv
3.html
2.wav
2.html

# Ignore MacOS system files
.DS_Store

# Ignore Windows system files
Thumbs.db

# Ignore temporary files
*.tmp
*.swp
pandoc-3.4-windows-x86_64.msi